@import 'tailwindcss';

/* Theme */
@theme {
  --color-bg: #f5f7f9;
  --color-text: #0b1220;
  --color-primary: oklch(60% 0.118 184.704);
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family:
    ui-sans-serif,
    -apple-system,
    Arial;
}

@layer base {
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
